# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
patroliq_en/
.env

# MLflow
mlruns/
mlartifacts/

# OS
.DS_Store
Thumbs.db

cluster_data.csv
app_New.py
PatrolIQ_cleaned.csv
PatrolIQ_datacleaning.ipynb
PatrolIQ_model.ipynb
PatrolIQ.docx